ul {
  list-style: none;
  font-size: 1.2em;
}
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label {
  font-style: italic;
}
h1 {
  margin: 5%;
}
body {
  background-color: purple;
}
#menu {
  width: 30px;
  height: 35px;
  margin: 30px 0 20px 20px;
}
.bar {
  height: 5px;
  width: 100%;
  background-color: black;
  display: block;
  border-radius: 5px;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-4px) rotateZ(45deg);
}
.change #bar2 {
  opacity: 0;
}
.nav {
  display: none;
}
.change {
  display: block;
}

/* .list1 {
  display: none;
  overflow: hidden;
}
.list2 {
  display: none;
  overflow: hidden;
} */
.container {
  border-radius: 20px;
  background-color: #778899;
  width: 370px;
  height: 500px;
  margin: 8%;
}
.container2 {
  border-radius: 20px;
  background-color: #778899;
  width: 370px;
  height: 500px;
  position: relative;
  left: 55%;
  bottom: 85%;
}
/* .column {
  display: flex;
  margin: 60px;
  top: 20%;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
} */

/* .column2 {
  display: flex;
  margin: 60px;
  top: 20%;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
} */
button {
  /* display: inline-block; */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}
