ul {
  list-style: none;
  font-size: 1.5em;
}
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label {
  font-style: italic;
}
h1 {
  color: rgb(248, 244, 25);
  margin: 40px;
}
.container {
  border-radius: 20px;
  background-color: #778899;
  width: 370px;
  height: 500px;
}
.column {
  display: flex;
  margin: 60px;
  top: 20%;
  flex-direction: column;
  flex-basis: 100%;
  /* flex: 1; */
}
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}
